* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes msg-slide-in {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


main {
    max-width: 100%;
    font-family: sans-serif;
    width: 1440px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 8px;
    background-color: firebrick;
}

.logo {
    width: 80px;
    height: 80px;
}


nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown {
    display: none;
    justify-content: center;
    align-items: center;
}

.burger-menu-icon {
    width: 30px;
    height: 30px;
    display: block;
}

.dropdown-list {
    position: relative;
    display: none;
    top: 50px;
    padding: 10px;
    max-width: 250px;
    border-radius: 5px;
    background-color: rgb(247, 138, 75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: fadeIn 0.2s;
    
}

.dropdown-link {
    display: block;
    font-size: 12px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg {
    position: fixed;
    right: 10px;
    top: 140px;
    width: 250px;
    height: auto;
    max-width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: msg-slide-in 0.4s;
}

#error-msg {
    background-color: red;
}

#success-msg {
    background-color: green;
}


.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 150px;
    padding: 10px;
    max-width: 100%;
}

.regex-field {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.user-regex {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid grey;
    background-color: rgb(248, 243, 243);
    box-shadow: 0px 5px 15px rgb(250, 202, 202);
}

.checkbox-title {
    font-size: 14px;
}

.options-buttons {
    font-size: 12px;
    display: flex;
    gap: 5px;
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icons {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.icons:hover {
    background-color: rgb(218, 217, 217);
}

.text-fields {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.io-field {
    height: 30rem;
    width: 500px;
    max-width: 100%;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#output-field {
    animation: fadeIn 0.3s;
    overflow-y: auto;
}

.highlight {
    background-color: rgb(241, 170, 170);
    padding: 3px;
    text-align: center;
    border-radius: 5px;
}

.regexes {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 100px;
}

.regex-row { 
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 100%;
    border-bottom: 1px solid grey;
    padding: 10px;
}

.regex-row:hover {
    background-color: rgb(250, 212, 212)
}

.regex {
    color: firebrick;
}

footer {
    background-color: firebrick;
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media (min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: auto;
    }
}

@media (max-width: 420px) {
    nav {
        display: none;
    }

    .dropdown {
        display: flex;
    }

    .regex-field {
        flex-direction: column;
        align-items: center;
    }

    .text-fields {
        flex-direction: column;
        align-items: center;
    }
    
    .io-field {
        width: 350px;
    }
}
